<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul class="manu">
                <li><a href="/">Main</a></li>
                <li><a href="/Explore">Interesting palce</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="logo">
        <h1>Rediscover the worldZ</h1>
         <p>The gladdest moment in human life,
            methinks, is a departure
            into unknown lands.</p>
        </section>
        <section>

<p>Editorial Foreword
The World Travel Guide (WTG) is the flagship digital consumer brand within the Columbus Travel Media
portfolio. Available in English, German, and Spanish versions, the WTG provides detailed and accurate
travel content designed to inspire global travellers. It covers all aspects, from cities to airports,
cruise ports to ski and beach resorts, attractions to events, and it also includes offbeat travel news,
stories, quizzes and guides for adventurous travellers.</p>
        </section>
        <main>
            <form action="#" method="post">
                <label for="name">
                    Введіть імя
                    <input type="text" name="name" id="name">
                </label>
                <label for="name">
                    Введіть пароль:
                    <input type="password" name="paword" id="password">
                </label>

                <button type="submit">Відправити</button>
            </form>
        </main>
        <footer>
        <p>Copyright © 1999-2020 Ctrip.com (Hong Kong) Limited. All rights reserved.
        Site Operator: Ctrip.com (Hong Kong) Limited<br>
        Hong Kong Travel License No. 352367</p>
    </footer>

</body>
</html>